<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.concordy.pro"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".manager.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTitleBar" >
        <activity android:name=".WelcomeActivity" >
        </activity>
        <activity android:name=".RegisterActivity" >
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PinLoginActivity" >
        </activity>
        <activity android:name=".BaseBillActivity" >
        </activity>
        <activity android:name=".PinSetItemActivity" >
        </activity>
        <activity android:name=".ConfigSetActivity" >
        </activity>
        <activity android:name=".InvoiceActivity" >
        </activity>
        <activity android:name=".LoginActivity" >
        </activity>
        <activity android:name=".PinSetActivity" >
        </activity>
        <activity android:name=".AddBillActivity" >
        </activity>
        <activity android:name=".CompanyInf" >
        </activity>
        <activity android:name=".RecurringInvoice" >
        </activity>

        <service android:name=".receiver.SleepStateService" >
        </service>
    </application>

</manifest>